.photo{
  .photo__title{
    height: 4rem;
  }

  .photo__id{
    height: 1rem;
  }

  .photo__url{
    height: 50px;
  }

  .photo__compaire{
    margin-top: 1rem;
  }

}

.image--width{
  max-width: 6rem;
}

